body{
background-color: #00ff00;
}

body{
	padding: 20px;
	margin:  30px;
	line-height: 32px;
	font-size: 32px;
	background-color: #09f;
	font-family: helvetica

}

<div{
	padding-left: 20px;
	float: left;
	position: relative;
	font-weight: 300;

	}position: absolute;
top:10px;

}